<form style="border: 1px solid red; border-radius: 4px;" action="<%= @action %>" method="<%= @method %>">
 	<input type="text" name="title" value='<%= @value %>' placeholder='<%= @placeholder %>'/>
 	<input type="submit" name="Submit Button" value="<%= @buttontext %>" />
 	<p>everything in this red box is in the form partial<p>
</form> 